h2 {
    color: red;
}

body {
    background-image: url(https://www.google.dk/search?q=p%C3%B8lse&rlz=1C1AVNE_enDK724DK724&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjC3-3CvK3YAhUIb1AKHbrPAOcQ_AUICigB&biw=1360&bih=637#imgdii=_rVt3gHOxd5WeM:&imgrc=xFUZNhmq4I4lRM:);
}

h1 {
    color: blue;
}