body {
  background-color: #424242
}


.slideshow {
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.slideshow img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: fixed;
}
